<html>
  <head>
    <title>NIBLY! - Shorten a URL</title>
  </head>

  <body>
    <header>
      <h1>NIBLY!</h1>
    </header>

    <main>
      <div>
        <h2>Original URL: <a href={{url}}>{{url}}</a></h2>
        <h2>Shortened URL: <a href={{shortened}}>{{shortened}}</a></h2>
      </div>

      <div>
        <p>Shorten another? <a href="/">click here!</a></p>
      </div>
    </main>

    <footer>
      Thrown together by <a href="https://www.theinternetvagabond.com">Niblock</a>
    </footer>
  </body>
</html>
